@import './vendors/bootstrap.min.css';
@import './base/colors';
@import './base/typo';

body{
    font-family: $secondryFont;
    max-width: 1920px;
    background-color: $themeColor;
    overflow: hidden;
}